# Lambda Functions

In [5]:
import pandas as pd
df =  pd.read_csv("Yelp_Reviews.csv",index_col=0)
df.head(2)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g

In [7]:
# to count the number of words in each yelp review

df["text"].map(lambda x: len(x.split())).head()  #thesplit is used to remove the ehite space in between the words

1     58
2     30
4     30
5     82
10    32
Name: text, dtype: int64

In [9]:
df["text"].map(lambda no_of_text : len(no_of_text.split())).head()

1     58
2     30
4     30
5     82
10    32
Name: text, dtype: int64

### Lambda Functions with conditionals

lambda can also accept the conditionales if chained in a comprehension

In [10]:
df["text"].map(lambda x: "Good" if any([word in x.lower() for word in["awesome","love","good","great"]])else "Bad").head()

1     Good
2      Bad
4     Good
5      Bad
10     Bad
Name: text, dtype: object

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2610 entries, 1 to 4206
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   business_id  2610 non-null   object
 1   cool         2610 non-null   int64
 2   date         2610 non-null   object
 3   funny        2610 non-null   int64
 4   review_id    2610 non-null   object
 5   stars        2610 non-null   int64
 6   text         2610 non-null   object
 7   useful       2610 non-null   int64
 8   user_id      2610 non-null   object
dtypes: int64(4), object(5)
memory usage: 203.9+ KB

In [12]:
#if we want to extract the year eithout converting it into date time
df["date"].map(lambda x: x[:4]).head()  #just convert to datetime

1     2012
2     2014
4     2014
5     2011
10    2016
Name: date, dtype: object

### Lambda functions are also useful within the sort() function

In [14]:
#Without a key

names = ['Miriam Marks','Sidney Baird','Elaine Barrera','Eddie Reeves','Marley Beard',
'Jaiden Liu','Bethany Martin','Stephen Rios','Audrey Mayer','Kameron Davidson','Carter Wong','Teagan Bennett']
sorted(names)

['Audrey Mayer',
 'Bethany Martin',
 'Carter Wong',
 'Eddie Reeves',
 'Elaine Barrera',
 'Jaiden Liu',
 'Kameron Davidson',
 'Marley Beard',
 'Miriam Marks',
 'Sidney Baird',
 'Stephen Rios',
 'Teagan Bennett']

In [17]:
#sorting by last name
sorted(names, key=lambda x: x.split()[1])

['Sidney Baird',
 'Elaine Barrera',
 'Marley Beard',
 'Teagan Bennett',
 'Kameron Davidson',
 'Jaiden Liu',
 'Miriam Marks',
 'Bethany Martin',
 'Audrey Mayer',
 'Eddie Reeves',
 'Stephen Rios',
 'Carter Wong']