In [1]:
import pandas as pd

### Importing Data in Pandas
There are a few main functions for importing data into a Pandas DataFrame including:

* `pd.read_csv()`
* `pd.read_excel()`
* `pd.read_json()`
* `pd.DataFrame.from_dict()`

In [14]:
df  = pd.read_csv("results.csv",delimiter=",",error_bad_lines=False) #the main point is that there is the delimiter tag

df.head()

b'Skipping line 156: expected 8 fields, saw 9\nSkipping line 157: expected 8 fields, saw 9\nSkipping line 158: expected 8 fields, saw 9\nSkipping line 317: expected 8 fields, saw 9\nSkipping line 318: expected 8 fields, saw 9\nSkipping line 319: expected 8 fields, saw 9\nSkipping line 1658: expected 8 fields, saw 9\nSkipping line 1659: expected 8 fields, saw 9\nSkipping line 1660: expected 8 fields, saw 9\nSkipping line 1784: expected 8 fields, saw 9\nSkipping line 1785: expected 8 fields, saw 9\nSkipping line 1786: expected 8 fields, saw 9\n'

,Gender,Event,Location,Year,Medal,Name,Nationality,Result
0,M,10000M Men,Rio,2016,G,Mohamed FARAH,USA,25:05.17
1,M,10000M Men,Rio,2016,S,Paul Kipngetich TANUI,KEN,27:05.64
2,M,10000M Men,Rio,2016,B,Tamirat TOLA,ETH,27:06.26
3,M,10000M Men,Beijing,2008,G,Kenenisa BEKELE,ETH,27:01.17
4,M,10000M Men,Beijing,2008,S,Sileshi SIHINE,ETH,27:02.77

The data can be exported in many ways such as:

* `df.to_csv()`
* `df.to_excel()`
* `df.to_json()`
* `df.to_dict()`

In [16]:
#you can drop rows 
# df = df.drop(0)
# df.head(2)
df["Gender"].value_counts()

M    1626
W     756
Name: Gender, dtype: int64

In [15]:
#to save the file
df.to_csv("NewFile.csv",index=0)