# Statistcal Methods in Python

the main objective for ths is to be able to calculate the summary statistics data in pandas

In [21]:
import pandas as pd

df = pd.read_csv("titanic.csv",index_col=0)
df.info() #this provises us with summaary metadata

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    object
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 90.5+ KB

In [22]:
#using the .describe() calculates the basic summary statistics for each column
df.describe()

       PassengerId    Survived         Age       SibSp       Parch        Fare
count   891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.486592   14.526497    1.102743    0.806057   49.693429
min       1.000000    0.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    0.000000   20.125000    0.000000    0.000000    7.910400
50%     446.000000    0.000000   28.000000    0.000000    0.000000   14.454200
75%     668.500000    1.000000   38.000000    1.000000    0.000000   31.000000
max     891.000000    1.000000   80.000000    8.000000    6.000000  512.329200

The `count` is used to show the number of values and is handy to show the missing values.
It is used to quickly get a feel for the data before EDA

## Calculating individual Column Statistics

In [23]:
df.mean()

PassengerId    446.000000
Survived         0.383838
Age             29.699118
SibSp            0.523008
Parch            0.381594
Fare            32.204208
dtype: float64

In [24]:
df["Fare"].mean()

32.204207968574636

In [25]:
df["Age"].quantile(.9)  # usefull in calculating the percentile

50.0

In [26]:
df["Age"].median()

28.0

Other useful statistical methods are:
-    `mode()`,`count()`
-    `.std()` -- the standard deviation for the column
      `.var()` -- the variance for the column
      `.sum()` -- the sum of all values in the column
      `.cumsum()` -- the cumulative sum, where each cell index contains the sum of all indices lower than, and including, itself.

### Summary statistics for the Categorical Columns
This data is non numerical so it is not posibel to calculay=te most summary statistics so for this we have better ways for it

In [27]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [28]:
df["Embarked"].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [29]:
df["Embarked"].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

### Calculating on the Fly using `.apply()` and `applymap()`

This is used when we want to do some computations that are not inbuilt in pandas so we se the above methods for it in the pandas Dataframes

In [30]:
string_df = df.applymap(lambda x: str(x))
string_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    object
 1   Survived     891 non-null    object
 2   Pclass       891 non-null    object
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    object
 6   SibSp        891 non-null    object
 7   Parch        891 non-null    object
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    object
 10  Cabin        891 non-null    object
 11  Embarked     891 non-null    object
dtypes: object(12)
memory usage: 90.5+ KB

In [34]:
display(df["Age"].apply(lambda x: x**2).head())

0     484.0
1    1444.0
2     676.0
3    1225.0
4    1225.0
Name: Age, dtype: float64