# Database Admin 101

In [1]:
import sqlite3 
conn = sqlite3.connect('new1_pets_database.db')
cur = conn.cursor()

In [2]:
ls

 Volume in drive C is OS
 Volume Serial Number is 3056-74D8

 Directory of c:\Users\samka\MoringaSchool_DS\SQL

05/09/2023  00:44    <DIR>          .
04/09/2023  16:00    <DIR>          ..
04/09/2023  16:01           229,376 data.sqlite
05/09/2023  00:44             8,461 Database_Admin.ipynb
04/09/2023  20:06            50,488 Filtering_data.ipynb
04/09/2023  22:36            36,236 grouping.ipynb
04/09/2023  23:05                 0 my_database.db
04/09/2023  22:57             8,192 new_pets_database.db
04/09/2023  22:59             4,616 new_pets_database.db-journal
05/09/2023  00:44                 0 new1_pets_database.db
04/09/2023  22:02            97,786 ordering_and_limitingData.ipynb
04/09/2023  20:01            12,288 pets_database.db
04/09/2023  19:04            76,174 selecting.ipynb
              11 File(s)        523,617 bytes
               2 Dir(s)  42,396,876,800 bytes free

### Creating tables

In [3]:
# creating the cats table
cur.execute("""CREATE TABLE cats(
                                  id INTEGER PRIMARY KEY,
                                  name TEXT,
                                  age INTEGER,
                                  breed TEXT);
            """)

### Populating Tables

Here we use the `INSERT INTO`

In [4]:
cur.execute("""INSERT INTO cats (name,age,breed)
                VALUES ("Bosco",3,"Scottish Fold");
            """)

### Altering  a Table

In [6]:
#updating hannah values 

cur.execute('''UPDATE cats SET name = "Hana" WHERE name = "Hannah";''')

### DELETE

In [7]:
cur.execute('''DELETE FROM cats WHERE id = 2;''')

In [8]:
#Preview the table via the current cursor/connection
cur.execute("""SELECT * FROM cats;""").fetchall()

[(1, 'Bosco', 3, 'Scottish Fold')]

In [9]:
conn2 = sqlite3.connect('pets_database.db')
cur2 = conn2.cursor()
cur2.execute("""SELECT * FROM cats;""").fetchall()

[(1, 'Maru', 3, 'Scottish Fold', 1),
 (2, 'Hana', 1, 'Tabby', 1),
 (3, "Lil' Bub", 5, 'American Shorthair', None),
 (4, 'Moe', 10, 'Tabby', None),
 (5, 'Patches', 2, 'Calico', None),
 (6, None, None, 'Tabby', None)]

In [10]:
conn.commit()

In [11]:
conn2 = sqlite3.connect('new1_pets_database.db')
cur2 = conn2.cursor()
cur2.execute("""SELECT * FROM cats;""").fetchall()

[(1, 'Bosco', 3, 'Scottish Fold')]

In [12]:
cur.close()

In [13]:
conn.close()